@{
    Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h2>Animal details</h2>
<hr/>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Gender): @Html.DisplayFor(model => model.Gender)</h3>
<h3>Type: @ViewBag.Species</h3>
<h3>Date of admittance: @Html.DisplayFor(model => model.DateOfAdmittance)</h3>
<h3>@Html.DisplayNameFor(model => model.Breed): @Html.DisplayFor(model => model.Breed)</h3>
<hr />

<p class="link">@Html.ActionLink("Edit Animal", "Edit", new {id = Model.AnimalId})</p>
<p class="link">@Html.ActionLink("Delete Animal", "Delete", new {id = Model.AnimalId})</p>
<p class="link">@Html.ActionLink("Back to list", "Index")</p>
<p class="link">@Html.ActionLink("Home", "Index", "Home")</p>