@{
    Layout = "_Layout";
}
@model AnimalShelter.Models.Animal

<h2>Edit</h2>

<h4>Edit this animal: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.AnimalId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Species)
    @Html.DropDownList("SpeciesId")

    @Html.LabelFor(model => model.Gender)
    @Html.EditorFor(model => model.Gender)

    @Html.LabelFor(model => model.DateOfAdmittance)
    @Html.EditorFor(model => model.DateOfAdmittance)

    @Html.LabelFor(model => model.Breed)
    @Html.EditorFor(model => model.Breed)
    
    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>